
body{
    background-color: gray;
}
.menu{

}
.menu ul{
    float: left;
    margin: auto; 
}
.menu li{
    float: left;
    border: 2px solid rosybrown;
    border-radius: 10px 13px rounded;
    padding: 10px;
    list-style-type: none;
}
.menu li a{
    text-decoration: none;
    color: white;
    font-style: none;
}
.menu ul li :hover{
    transition: 2s;
    color: red;
    background-color: orange;
}